body {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.container {
  margin-left: 30px;
  display: grid;
  height: 500px;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, 1fr);
  > div {
    border: 1px solid;
    font-size: small;
  }
}
.item1 {
  grid-column: 1 / 7;
  grid-row: 1/ 2;
}
.item2 {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}
.item3 {
  grid-column: 9 / 11;
}
.item4 {
  grid-column: 11 / 13;
}
.item5 {
  grid-column: 13 / 15;
}
.item6 {
  grid-column: 15 / span 2;
}
.item7 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.item8 {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}
.item9 {
  grid-column: 7 / 9;
  grid-row: 2 / 3;
}
.item10 {
  grid-column: 9 / 11;
  grid-row: 2 / 4;
  div {
    margin-top: 50px;
    margin-left: 5px;
  }
}
.item11 {
  grid-column: 11 / 15;
}
.item12 {
  grid-column: 15 / span 2;
  grid-row: 2 / 4;
  span {
    margin-left: 16px;
  }
}
.item13 {
  background-color: yellow;
  grid-column: 1 / 7;
  grid-row: 3 / 5;
}
.item14 {
  grid-column: 7 / 9;
  grid-row: 3 / 4;
}
.item15 {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
}
.item16 {
  grid-column: 13 / 15;
  grid-row: 3 /4;
}
.item17 {
  grid-column: 7 / 9;
  grid-row: 4 / 5;
}
.item18 {
  grid-column: 9 / 11;
  grid-row: 4 / 5;
}
.item19 {
  grid-column: 11 / 14;
  grid-row: 4 / 5;
}
.item20 {
  grid-column: 14 / span 3;
  grid-row: 4 / 5;
  span {
    color: red;
  }
}
.item21 {
  grid-column: 1 / 3;
  grid-row: 5 / 6;

  div {
    margin-top: 50px;
    margin-left: 90px;
    color: red;
  }
}
.item22 {
  grid-column: 3 / 9;
  grid-row: 5 / 6;
}
.item23 {
  grid-column: 9 / 11;
  grid-row: 5 / 6;
}
.item24 {
  background-color: green;
  grid-column: 11 / 13;
  grid-row: 5 / 6;
}
.item25 {
  grid-column: 13 / 15;
  grid-row: 5 /6;
}
.item26 {
  grid-column: 15 / span 2;
  grid-row: 5 / 6;
}
